/node_modules
/client/node_modules
/server/node_modules

/client/dist
/client/build
/client/.angular/cache

/client/npm-debug.log*
/client/yarn-error.log
/client/.env
/client/.vscode

/client/.vscode/

.idea/
*.iml
*.iws
*.ipr

*.js.map

*.d.ts