<div class="px-2 py-2 text-xs text-red-500 break-words w-full flex flex-col gap-2">
    @if (errors?.['required']) {
        <p>Must not be empty</p>
    }

    @if (errors?.['mobilePH']) {
        <p>Should be a valid philippine mobile number (+639XX XXX XXXX)</p>
    }

    @if (errors?.['email']) {
        <p>Must be a valid email</p>
    }

    @if (errors?.['pattern']) {
        @if (checkMobilePattern(errors?.['pattern']?.['requiredPattern'])) {
            <span>Must match a valid PH mobile number. Example: +63912345678</span>
        } @else if (checkPasswordPattern(errors?.['pattern']?.['requiredPattern'])) {
            <span>
                Must be at least 8 characters long, include at least one lowercase letter, one
                uppercase letter, and one digit.
            </span>
        } @else {
            <p>Must match the given RegEx pattern {{ errors?.['pattern']?.['requiredPattern'] }}</p>
        }
    }

    @if (errors?.['minlength']) {
        <p>Must be atleast {{ errors?.['minlength']?.['requiredLength'] }} characters</p>
    }

    @if (errors?.['maxlength']) {
        <p>Must be less than {{ errors?.['maxlength']?.['requiredLength'] }} characters</p>
    }

    @if (errors?.['invalid_type']) {
        <p>{{ errors?.['invalid_type'] || 'Server responds with invalid type.' }}</p>
    }

    @if (errors?.['mismatch']) {
        <p>{{ errors?.['mismatch']['message'] }}</p>
    }
</div>
